@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a database of superheroes. Feel free to add a superhero to the <a href=/Superhero>database</a>!</h3>

    <img src="~/SuperheroPicture/Spiderman.jpg" img>
</div>
