@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a database of superheroes. Feel free to add a superhero to the <a href=/Superhero>database</a>!</h3>

</div>
<div>
    <img src="~/SuperheroPicture/Venom.gif" alt="Venom" /> <img src="~/SuperheroPicture/Spiderman.gif" alt="Spiderman" />
</div>
